// ======================================================================================================
//
// ALL NAVIGATION STYLES
//
// ======================================================================================================

header { top: 65px; }
.site-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;

  svg {
    margin-bottom: -4px;
    @include square(20px);

    circle { fill: transparent; }
  }

  @include breakpoint(md) {
    position: relative;
    svg {
      margin-bottom: -1px;
      @include square(15px);
    }
  }
}

// When nav is fixed on desktop
.site-header.is-sticky {
  height: 160px;
  position: relative;

  .site-branding {
    height: 0;
    padding: 0;
  }

  .custom-logo {
    left: 50%;
    position: fixed;
    top: 23px;
    transform: translateX(-50%);
    width: 100px;
    z-index: 9;
  }

  .site-search {
    position: fixed;
    top: 23px;
    z-index: 9;
  }

  .primary-navigation {
    position: fixed;
    top: 0;
  }

  @include breakpoint(md) {
    .custom-logo {
      left: 0;
      top: 15px;
      transform: none;
      width: 80px;
    }

    .site-search { right: 3px; }
  }

  @include breakpoint(lg) {
    .custom-logo { left: 30px; }
    .site-search { right: 30px; }
  }

  @include breakpoint(xl) {
    .custom-logo {
      left: 45px;
      top: 10px;
      width: 100px;
    }
    .site-search { right: 60px; }
  }
}

// Logo on top of nav
.site-branding {
  padding: 10px;
  background-color: $purple;
  margin: 0;
  text-align: center;

  img {
    height: auto;
    max-width: 100px;
  }

  @include breakpoint(md) {
    background-color: $transparent-purple;
    margin: 0 50px;

    img { max-width: 200px; }
  }
}

.custom-logo-link { display: inline-block; }

// Main nav
.primary-navigation {
  background-color: $purple;
  display: block;
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s;
  width: 100%;

  &.is-closed { max-height: 0; }

  @include breakpoint(md) {
    &.is-closed {
      max-height: none;
      overflow: visible;
    }
  }
}

.nav-menu {
  display: flex;
  flex-direction: column;
  font-family: $font-serif;
  font-size: 1rem;
  justify-content: space-around;
  list-style: none;
  margin: auto;
  overflow: hidden;
  width: 100%;

  @include breakpoint(md) {
    flex-direction: row;
    padding: 0;
    width: 80%;
  }

  @include breakpoint(xl) {
    padding: 0 100px;
  }
}

.nav-menu > .menu-item {
  padding: 20px;

  a {
    color: $navy;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;

    &:after { background: $navy; }
  }
}

.menu-item-has-children {
  position: static;

  @include breakpoint(md) {
    &:hover {
      .subnav { max-height: 200px; }
    }
  }
}

// Hover reveal nav
.subnav {
  background-color: $purple;
  display: flex;
  flex-direction: row;
  left: 0;
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: max-height 0.6s;
  width: 100%;
  z-index: 10;

  .menu-item a { text-transform: none; }
}

.sub-menu {
  height: auto;
  padding-left: 10%;
  padding-top: 10px;

  .menu-item {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0 0 5px 0;

    &:last-child { padding-bottom: 35px; }
  }
}

.mobile-search {
  border-top: 1px solid $navy;
  margin: 20px;
}

// Mobile menu button
.menu-toggle {
  background-color: transparent;
  border: none;
  display: block;
  position: fixed;
  right: 15px;
  top: 25px;

  svg {
    height: 25px;
    width: 25px;

    * { fill: $navy; }
  }

  @include breakpoint(md) { display: none; }
}

// Breadcrumbs
.woocommerce-breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 0 0 15px;

  :not(a),
  :not(span) { opacity: 0.5 }

  * { padding: 0 5px; }

  @include breakpoint(md) {
    padding: 30px 0 0 30px;
  }
}

// Top user nav
.secondary-navigation {
  background-color: $transparent-purple;
  margin: 0 50px;
  text-align: right;

  li {
    list-style: none;
    display: inline-block;
  }
}

.site-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 60px;
  top: 45px;

  form { margin: 0 5px; }
  #menu-secondary {
    margin: 0;
    padding: 0;

    li { margin-left: 10px; }
  }
}

.search-field {
  overflow: hidden;
  padding: 10px;
  transition: width 0.6s;
  width: 80%;

  @include breakpoint(md) {
    padding: 0;
    width: 0;
  }
}

.search-submit {
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

.woocommerce-product-search.is-active {
  .search-field { width: 80%; }
}
