// ======================================================================================================
//
// Specific Page styles
//
// ======================================================================================================


// ======================================================================================================
// Home page styles
// ======================================================================================================

.home-section {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 60px);
  margin: 0 15px;
  position: relative;

  &:first-of-type  { background-image: url('images/home_1.jpg'); }
  &:nth-of-type(2) { background-image: url('images/diamond_education'); }
  &:last-of-type   { background-image: url('images/home_3.jpg'); }

  .large-link {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
  }

  @include breakpoint(md) {
    margin: 0 50px;

    .large-link {
      left: 50px;
      transform: none;
    }
  }
}

.home-social {
  margin: 0 15px;
  padding: 30px 30px 0;

  p {
    font-family: $font-serif;
    font-style: italic;
    padding-bottom: 20px;
    text-align: center;
  }

  @include breakpoint(md) {
    margin: 0 50px;
    padding: 50px 0;
  }
}

.home-scroll-helper {
  bottom: 10px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  opacity: 1;
  text-align: center;
  transition: opacity 0.3s;
  width: 300px;
  z-index: 9;

  svg { width: 50px; }
}

.insta-feed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  a {
    @include square(100%);

    &:after {
      background-color: $purple;
      background-image: url('images/instagram.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100px;
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.6s;
      width: 100%;
    }

    &:hover { &:after { opacity: 0.6; } }
  }

  @include breakpoint(md) {
    flex-direction: row;
    margin: 0 auto;

    a { @include square(50%) }
  }

  @include breakpoint(lg) {
    a { @include square(25%) }
  }
}

.insta-img {
  height: auto;
  position: relative;
  width: 100%;

  &:after {
    background-color: $transparent-purple;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.6s;
    width: 100%;
  }
}

// ======================================================================================================
// page styles
// ======================================================================================================

.content {
  margin-top: 64px;

  @include breakpoint(md) { margin-top: 0; }
}

.site-content {
  background-color: $transparent-purple;
  margin: 0 15px;

  @include breakpoint(md) {
    margin: 0 50px;
  }
}

// ======================================================================================================
// Blog page / Upcoming Shows page
// ======================================================================================================

// .entry-header { display: none; }
.entry-header {
  width: 100%;

  h1 {
    font-family: $font-serif;
    // font-size: 1.2rem;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 90%;
  }

  @include breakpoint(lg) {
    margin: 0 auto;
    width: 60%;
  }
}


.entry-meta { display: none; }
.entry-content {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  text-align: center;

  h3 { margin-bottom: 0; }
  h3 + p { margin-top: 0; }

  p { width: 100%; }

  @include breakpoint(lg) {
    text-align: left;
  }
}

.entry-section {
  padding: 30px;
  border-top: 5px dotted $transparent-purple;
  text-align: center;
  width: 100%;

  @include breakpoint(lg) {
    width: 49%;
    &:nth-of-type(even) { border-left: 5px dotted $transparent-purple; }
  }
}

// ======================================================================================================
// Our story page
// ======================================================================================================
.page-header {
  width: 100%;

  h2 {
    font-family: $font-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }

  @include breakpoint(lg) {
    margin: 0 auto;
    width: 60%;
  }
}

.page-subheader {
  font-family: $font-serif;
  text-align: center;
  width: 100%;
}

.header-image {
  text-align: center;
  img { width: 60%; }
}

.hover-image__panel {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 0 auto;
  width: 90%;

  @include breakpoint(lg) {
    flex-direction: row;
    height: 500px;

    &:hover > figure { width: 25%; }
    &:hover > figure:hover { width: 50%; }
  }
}

.hover-image__photo {
  background-image: url('images/office_crop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  transition: width 0.6s;

  &:first-child { background-image: url('images/office2.jpg'); }
  &:last-child  { background-image: url('images/girls.jpg'); }

  &:first-of-type,
  &:last-of-type {
    display: none;
  }

  &:nth-of-type(2) {
    flex-grow: 2;
    width: 100%;
  }

  @include breakpoint(lg) {
    &:first-of-type,
    &:last-of-type {
      display: block;
      flex-grow: 1;
      width: 25%;
    }

    &:nth-of-type(2) {
      flex-grow: 2;
      width: 50%;
    }
  }
}

.our-story {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  @include breakpoint(md) {
    padding: 30px;
    width: 80%;
  }
}


// ======================================================================================================
// Grids
// ======================================================================================================

.grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.grid--block {
  display: flex;
  flex-direction: column;
  max-height: none;
  min-height: 200px;
  padding: 20px;
  text-align: center;
  width: 100%;

  figure {
    margin: 0;
    max-height: 420px;
    overflow: hidden;
  }

  h2 { font-family: $font-serif; }
  ol { list-style-position: inside; }

  @include breakpoint(md) {
    padding: 50px;
    width: 50%;
  }
}

.grid--60 {
  padding: 20px;
  width: 100%;

  @include breakpoint(md) { width: 60% }
}
.grid--40 {
  padding: 20px;
  width: 100%;

  @include breakpoint(md) { width: 40% }
}

figure.grid--60 {
  margin: 1em auto;
}

// ======================================================================================================
// Error pages
// ======================================================================================================

.error-404 {
  min-height: calc(100vh - 270px);
  .page-content {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: 100%;

    @include breakpoint(md) { width: 80%; }
  }

  input#s {
    min-width: auto;
    @include breakpoint(md) { min-width: 400px; }
  }
}
