// ======================================================================================================
//
// Product page styles
//
// ======================================================================================================

.site-content {
  margin: 0 15px;

  @include breakpoint(md) {
    margin: 0 50px;
  }
}

.site-main { position: relative; }

// Index page
// ======================================================================================================

// Sorting form
.woocommerce-ordering,
.storefront-sorting {
  display: none;

  // display: block;
  // margin: 0 auto;
  // padding-left: 25px;
  // position: relative;
  // text-align: left;

  // @include breakpoint(md) { padding-left: 30px; }

  // @include breakpoint(lg) {
  //   padding-left: 40px;
  // }
}

.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: normal;
  list-style: none;
  margin: 0;
  padding: 0 20px 50px 20px;

  @include breakpoint(md) { flex-direction: row; }

  // Show 3 across on desktop
  .product-category {
    padding: 0 !important;
    width: 100%;

    @include breakpoint(md) { width: 50%; }
    @include breakpoint(lg) { width: 33%; }
  }

  // Show 4 across on desktop
  .product-type-simple {
    width: 100%;

    @include breakpoint(md) { width: 33%; }
    @include breakpoint(lg) { width: 25%; }
  }

  .product {
    font-family: $font-sans-serif;

    // img { opacity: 0; }

    a {
      // background-size: cover;
      // background-position: center;
      // background-repeat: no-repeat;

      color: $navy;
      display: block;
      margin: 10px auto;
      position: relative;
      text-decoration: none;
      width: 90%;

      &:hover:after { width: 0; }
    }

    // Hide price, count and "add to cart" on index pages
    .count, .price { display: none; }

    &:hover {
      .woocommerce-loop-product__title,
      .woocommerce-loop-category__title {
        max-height: 300px;
        overflow: visible;
        padding: 30px 0;
        &:before { opacity: 1; }
      }
    }
  }
}

.term-description {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;

  p { margin-top: 0; }
}

// // Hide pagination since we are going to be doing
// // infinite scroll
.woocommerce-result-count,
.woocommerce-pagination { display: none; }


.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
  background-color: rgba($purple, 0.8);
  bottom: 4px;
  font-size: 16px;
  left: 0;
  margin: 0;
  max-height: 300px;
  overflow: auto;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  transition: all 0.3s;
  width: 100%;

  &:before {
    border-bottom: 20px solid rgba($purple, 0.8);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    content: '';
    height: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: -20px;
    transition: opacity 0.3s;
    width: 0;
  }

  @include breakpoint(md) {
    background-color: $purple;
    max-height: 0;
    overflow: hidden;
    padding: 0;

    &:before { border-bottom: 20px solid $purple; }
  }
}

// Detail page
// ======================================================================================================
.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  // Hide "add to cart" since we're not doing e-comm
  .cart {
    order: 3;

    .quantity,
    .single_add_to_cart_button { display: none !important; }
  }

  .woocommerce-tabs { display: none; }
  .woocommerce-Price-amount { display: none; }
}

.related.products .product {
  padding: 0;
  width: 100%;
  @include breakpoint(md) {
    padding: 0 10px;
    width: 50%;
  }
  @include breakpoint(lg) {
    width: 25%;
  }
}

.woocommerce-product-gallery {
  flex-grow: 2;
  order: 1;
  padding: 15px;
  width: 100%;

  @include breakpoint(md) {
    order: 1;
    padding: 15px 30px;
    width: 50%
  }
}

.woocommerce-product-details__short-description {
  order: 3;
  p { margin: 0; }
}

.summary {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  font-family: $font-sans-serif;
  font-size: 1.1rem;
  order: 2;
  padding: 20px;
  width: 100%;

  @include breakpoint(md) {
    order: 2;
    padding: 15px 0;
    width: 50%;

    > h1,
    > p,
    > div,
    .tinv-wishlist { padding-left: 50px; }
  }

  .product_title { order: 1; }
  .price { order: 4 }
  .tinv-wishlist { order: 5; }
  .product_meta {
    padding-bottom: 30px;
    order: 2;

    a { color: $purpleDark;

      &:after {
        background-color: $purpleDark;
        bottom: -1px;
      }
    }
  }
}

.related {
  order: 3;
  padding: 0;
  width: 100%;

  h2 {
    text-align: center;
    width: 100%;
  }

  ul {
    margin: 0 auto;
    width: 100%;
  }
}

.yith-wcwl-add-button {
  order: 3;

  a {
    background-color: $purple;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
    transition: all 0.6s;

    &:after { width: 0; }
    &:hover { background-color: $purpleDark; }
  }
}

.posted_in   { display: block; }
.sku_wrapper {
  display: block;
  font-family: $font-serif;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.woocommerce-product-gallery__trigger {
  left: calc(50% - 30px);
  position: absolute;
  top: 30px;
  z-index: 8;
}

.woocommerce-product-gallery__image {
  a { display: block; }
  &:nth-child(2) { display: none; }
}

.flex-control-nav.flex-control-thumbs {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;

  li { padding-right: 30px; }
}

// .attachment-shop_single,
// .zoomImg { display: none !important; }

// Woocommerce Overrides
.flex-viewport { height: auto !important; }
.woocommerce-ordering {
  margin-left: 10px;
  @include breakpoint(md) {
    margin-left: 40px;
  }
}

.ajax_add_to_cart,
.add_to_cart_button { display: none !important; }

// Infinite scroll loader
.yith-infs-loader img { width: auto; }
