// ======================================================================================================
//
// ALL TYPE STYLES
//
// ======================================================================================================

// ======================================================================================================
// Headers
// ======================================================================================================

.page-title {
  color: $navy;
  font-family: $font-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;

  @include breakpoint(md) {
    font-size: 60px;
  }
}

.wishlist-title {
  color: $navy;
  font-family: $font-serif;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;

  width: 100%;
}

.product_title {
  color: $navy;
  font-family: $font-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
  text-decoration: none;

  @include breakpoint(md) {
    font-size: 40px;
  }
}

// ======================================================================================================
// Links
// ======================================================================================================

a {
  color: $purpleDark;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:after {
    background-color: $purpleDark;
    bottom: -5px;
    content: '';
    display: inline-block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    transition: width 0.3s ease-out;
    width: 0;
  }

  &:hover { &:after { width: 100%; } }
}

// Disable underline on links
.link--no-underline:hover {
  &:after { width: 0; }
}

.large-link {
  font-family: $font-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;

  span {
    color: #fff;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

    &:after {
      content: '';
      display: block;
      left: 0;
      bottom: 0;
      right: 0;
      height: 3px;
      background-color: #fff;
      transition: width 0.3s ease-out;
      width: 100%;
    }
  }

  @include breakpoint(md) {
    font-size: 80px;
    text-align: left;

    span:after { width: 0 }

    &:hover {
      &:after { width: 0; }
      span:after { width: 100%; }
    }
  }
}

// ======================================================================================================
// Buttons
// ======================================================================================================

.button,
.btn {
  background-color: $purple !important;
  border-radius: 4px !important;
  color: $navy !important;
  display: inline-block !important;
  font-weight: normal !important;
  padding: 10px !important;
  transition: all 0.6s !important;

  &:after { width: 0; }
  &:hover { background-color: $purpleDark !important; &:after { width: 0; } }
}

// ======================================================================================================
// Type styles
// ======================================================================================================

.type--sans-serif { font-family: $font-sans-serif; }
.type--serif { font-family: $font-serif; }
.type--left  { text-align: left !important; }
.type--center{ text-align: center !important; }
.type--large { font-size: 1.5rem !important; }
.type--white { color: #fff; }
.type--navy { color: $navy; }
