//  ======================================================================================================
//
//  Variables
//
//  ======================================================================================================

//  Responsive Breakpoints
//  --------------------------------------------------
    $break-xs:          350px  !default;
    $break-sm:          580px  !default;
    $break-md:          767px  !default;
    $break-mdx:         980px  !default;
    $break-lg:          1024px !default;
    $break-xl:          1280px !default;
    $break-xxl:         1400px !default;

//  Colors
//  --------------------------------------------------
    $white:             #ffffff !default;
    $purple:            #c2cdff !default;
    $purpleDark:        #869cff !default;
    $navy:              #182954 !default;


    $transparent-purple: rgba($purpleDark, 0.15) !default;
    $transparent-purple: rgba($purpleDark, 0.15) !default;
    $transparent-white:  rgba($white, 0.5)       !default;

//  Default Color Settings
//  --------------------------------------------------
    // $primary-color:     $white        !default;
    // $body-bg:           $light-gray   !default;
    // $default-txt-color: $dark-gray    !default;
    // $highlight:         $green        !default;

// Link Colors
//  --------------------------------------------------
    // $link-color:        $blue         !default;
    // $link-hover-color:  $dark-gray    !default;

//  Animation
//  --------------------------------------------------
    $default-animation:           all 0.3s !default;
    $default-animation-duration:  0.3s !default;
    $color-animation:             color 0.3s !default;
    $opacity-animation:           opacity 0.3s !default;

// Font Families
//  --------------------------------------------------
    $font-serif:      'Playfair Display', Times, serif !default;
    // $font-serif:      'SchneidlerBT-Medium', Times, serif !default;
    // $font-sans-serif: 'Source Sans Pro', Helvetica, sans-serif !default;
    $font-sans-serif: 'Roboto', Helvetica, sans-serif !default;

// Font Defaults
//  --------------------------------------------------
    // $font-family-default: $font-condensed-light !default;
    // $font-weight-default: 400                   !default;
    // $font-size-base:
    // $line-height-base:


.type--white { color: #fff; }
